* {
    background-color: black;
}

#root {
    margin: 0;
}

a {
    cursor: pointer;
}

#main {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.menu-principal {
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.img_reserva {
    margin: 28px 0 0 30px;
}

.menu-principal a {
    background-color: transparent;
}

.rsv-logo {
    width: 250px;
    margin: 0px;
    padding-left: 1rem;
}

.rsv-logo img {
    vertical-align: middle;
}

.navbar {
    margin-right: 10%;    
}

.navigation {

}

.ul-navigation {
    display: flex;
    flex-direction: row;
}

.menu {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    width: 100%;
    position: relative;
}

.menu a {
    text-decoration: none;
    background-color: aquamarine;
}

.menu-itens {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0px 0.75rem;
    color: #fff;
}

.esquerdo {
    max-width: 45%;
    align-items: center;
    white-space: wrap;
    height: 500px;
}

.esquerdo h3 {
    position: relative;
    color: white;
}

.esquerdo p {
    position: relative;
    color: white;
    text-wrap: wrap;
}

